<link rel="stylesheet" href="../static/css/styles.css">
<script src="../static/js/script.js"></script>


<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h2>Hire Me for Your Project!</h2>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href="https://www.linkedin.com/in/lpsang/">LinkedIn</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h2>Navigation</h2>
            <ul>
                <li><a href="#section1">About me</a></li>
                <li><a href="#section2">My Skills</a></li>
                <li><a href="#section3">My Project</a></li>
                <li><a href="#section4">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h2>Information</h2>
            <p><span>Name:</span> Le Phuoc Sang</p>
            <p><span>Date of birth:</span> 30.10.2003</p>
            <p><span>Email:</span> lpsang.nas@gmail.com</p>
            <p><span>City:</span> Can Tho</p>
            <a href="#" class="cv-link">Download CV <i class='fas fa-file-download'></i></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© Created by <a href="#">Le Phuoc Sang</a></p>
    </div>
</footer>
